
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="#">Экзамен</a></li>
  {% url 'tickets:ticket_list' as tickets %}
  {% url 'tickets:ticket_report' as ticketreport %}
  <li role="presentation"  {% if current_url == tickets or tab == 'tickets' or current_url == ticketreport %}class="active"{% endif %}><a href="{% url 'tickets:ticket_list'%}">Билеты</a></li>
  {% url 'tickets:theme_list' as theme_list %}
  <li role="presentation" {% if current_url == theme_list %}class="active"{% endif %}><a href="{% url 'tickets:theme_list'%}">Темы</a></li>
  <li role="presentation" ><a href="#">Марафон 800</a></li>
  <li role="presentation"><a href="#">Мои ошибки</a></li>
  <li role="presentation" class='hidden-xs'><a href="{% url 'tickets:pdddataClear'%}">Очистить историю</a></li>
  <li role="presentation" class='hidden-xs'><a href="#">ПДД виджет</a></li>
</ul>
