
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="#">Экзамен</a></li>
  {% url 'tickets:ticket_list' as tickets %}
  <li role="presentation"  {% if nav_tab == 'ticket' or current_url == tickets %}class="active"{% endif %}><a href="{% url 'tickets:ticket_list'%}">Билеты</a></li>
  {% url 'tickets:theme_list' as theme %}
  <li role="presentation" {% if nav_tab == 'theme' or current_url == theme %}class="active"{% endif %}><a href="{% url 'tickets:theme_list'%}">Темы</a></li>
  {% url 'tickets:marathon' as marathon %}
  <li role="presentation" {% if current_url == marathon %}class="active"{% endif %}><a href="{% url 'tickets:marathon'%}">Марафон 800</a></li>
  {% url 'tickets:errors' as errors %}
  <li role="presentation" {% if nav_tab == 'errors' or current_url == errors %}class="active"{% endif %}><a href="{% url 'tickets:errors' %}">Мои ошибки</a></li>
  <li role="presentation" class='hidden-xs'><a href="{% url 'tickets:pdddataClear'%}">Очистить историю</a></li>
  <li role="presentation" class='hidden-xs'><a href="#">ПДД виджет</a></li>
</ul>
<!-- {{nav_tab}} -->
