{% load static %}

<hr>
	<div class="row">
	<p class="text-center"><strong>Вопрос: {{ item.question_text }}</strong></p>
<hr>
	<img class="img-responsive" src="{% if item.question_img %}{{ item.question_img }}{% else %}{% static 'img/question_without_img.png' %}{% endif %}">

	
	<table class="table">
	<tbody>
	{% comment %}
		<thead>
			<tr>
				<th colspan="2" class="text-center">Вопрос: {{ item.question_text }}</th>
			</tr>
		</thead>
	{% endcomment %}
		<tr>
			<th>Ваш ответ:</th>
			<td class="text-danger">{{ item.wrong_text }}</td>
		</tr>
		<tr>
			<th>Правильный ответ:</th>
			<td class="text-success">{{ item.right_text }}</td>
		</tr>
		<tr>
			<th>Подсказка:</th>
			<td></td>
		</tr>
	
	</tbody>

	</table>

</div>