{% load static %}

<hr>
	
	<p class="text-center" style="font-size: 1.14em;"><strong>Вопрос: {{ item.question_text }}</strong></p>
<hr>
	<img class="img-responsive" src="{% if item.question_img %}{{ item.question_img }}{% else %}{% static 'img/question_without_img.png' %}{% endif %}">

	
	<table class="table">
	<tbody>
		<tr>
			<th>Ваш ответ:</th>
			<td class="text-danger">{{ item.wrong_text }}</td>
		</tr>
		<tr>
			<th>Правильный ответ:</th>
			<td class="text-success">{{ item.right_text }}</td>
		</tr>
		{% if item.tip %}
		<tr>
			<th>Подсказка:</th>
			<td>{{ item.tip|safe }}</td>
		</tr>
		{% endif %}
	</tbody>

	</table>

