{% extends "base/__base.html" %}

{% block content %}

<h2 class="text-primary text-center">{% if not time_for_test.2 %}Экзамен не сдан</h2><h2 class="text-primary text-center">Вы не уложтлись в 20 минут{% else %}{{ exam_result }}{% endif %}</h2>
<h3 class="text-primary text-center">Ваш результат:</h3>
<p class="text-center" style='bac'>Правильных ответов: <span class="badge" style='background-color:green;'>{{ right_ans }}</span></p>
<p class="text-center">Сделали ошибок: <span class="badge" style='background-color:red;'>{{ wrong_ans }}</span></p>

<p class="text-center">Время выполнения: <span class="badge" style='background-color:blue;'>{% if not time_for_test.0 %}{{ time_for_test.0 }} мин., {% endif %}{{ time_for_test.1 }} сек.  </span></p>
<p class="text-center">
	<a class="btn btn-default" href="{% url 'tickets:exam' %}" role="button">Попробовать еще раз</a>
</p>

{% endblock content %}