{% extends "base/__base.html" %}

{% block content %}
<br>
<div class="alert alert-info" role="alert">
	<p>Итак, вы выучили билеты, прошли тестовый экзамен, самое время проверить себя в боевом режиме.</p>
	<p>Предлагаю вам пройти все 800 вопросов. После того как вы пройдёте тест на 800 вопросов система покажет вам готовы вы к экзамену в ГАИ или нет.</p>
	<p>В режиме «Марафон 800» надо ответить на 800 вопросов. Если вы сделаете более 20 ошибок система скажет, что вы еще не готовы к экзамену в ГАИ.</p>
	<p>В режиме «Марафон 800» подсказки до момента пока вы не ответили на вопрос не работают.</p>
	<p>В режиме «Марафон 800» после прохождения теста не показывается блок работа над ошибками.</p>
</div>
<p class="text-center">Марафон еще не пройден</p>
<p class="text-center">
	<a class="btn btn-primary" href="{% url 'tickets:start_Timer' %}" role="button">Начать "Марафон 800"</a>
</p>

{% endblock content %}

И