{% extends "base/__base.html" %}

{% block content %}

<h2 class="text-primary text-center">Поздравляем! Вы прошли марафон!</h2>
<h2 class="text-primary text-center">Ваш результат:</h2>

<p class="text-center" style='bac'>Правильных ответов: <span class="badge" style='background-color:green;'>{{ right_ans }}</span></p>
<p class="text-center">Сделали ошибок: <span class="badge" style='background-color:red;'>{{ wrong_ans }}</span></p>
<p class="text-center">Время выполнения: {{ time_for_test }}</p>

{% endblock content %}
