{% extends "base/__base.html" %}

{% block progressbar %}
{% include 'base/includes/_star_progress_bar.html' %}
{% endblock progressbar %}

{% block content %}

<br>
	<div class="row">
	<div class="col-xs-6 text-center"><button type="button" class="btn btn-primary btn-xs">Билет №{{ question.ticket.id }}</button></div>
	<div class="col-xs-6 text-center"><button type="button" class="btn btn-info btn-xs">Вопрос №{{ question.id }}</button></div>
	</div>
	<br>
	{% if question.image %}<img class="img-responsive" src="{{ question.image.url }}">{% endif %}
	<br>
	<p class="text-center"><strong>{{ question.question }}</strong></p>


	<form action="{% url 'tickets:pdddataAdd' question.id %}" method="post">
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
	   <input class="pdd-ticket-input {% if choice.choice_status %}right-ans{% else %}wrong-ans{% endif %}" id="choice{{ forloop.counter }}" type="radio" name="choice" value="{{ choice.id }}" />

	    <label class="pdd-label {% if choice.choice_status %}right-ans{% else %}wrong-ans{% endif %}" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
	{% endfor %}
	<br>
		<input class="btn btn-primary pdd-pass-button" type="button" value="Проверить">		
		<input type="submit" class="btn btn-primary pdd-next-button" style="display:none"  value="Дальше">
		<input class="btn btn-warning" type="button" value="Подсказка">
	</form>

{% endblock content %}