{% extends "base/__base.html" %}
{% load static %}

{% block progressbar %}
{% include 'base/includes/_star_progress_bar.html' %}
{% endblock progressbar %}

{% block content %}
<div id='minutes' class="hidden">{{ minutes }}</div>
<div id='seconds' class="hidden">{{ seconds }}</div>

	{% if nav_tab == 'marathon' %}
		
<form  action="{% url 'tickets:pdddataAdd' question.id %}" method="post">
		<div class="text-center">
		<input id="countup-min" class="countup" name='countup-min' type="text" value="{{ minutes }}"> :
		<input id="countup-sec" class="countup" name='countup-sec' type="text" value="{{ seconds }}">
	      
		</div>
		
	{% endif %}
	<br>

	{% if not nav_tab == 'exam' %}
		<div class="row">
		<div class="col-xs-4 text-center"><button type="button" class="btn btn-primary btn-xs">Билет №{{ question.ticket.id }}</button></div>

		{% if nav_tab == 'marathon' %}
			
			<div class="col-xs-4 text-center">
				<input id="pauseButton" type="button" value="Пауза">
				<input id="resumeButton" type="hidden" value="Продолжить">
			</div>
		{% endif %}


		<div class="col-xs-4 text-center"><button type="button" class="btn btn-info btn-xs">Вопрос №{{ question.question_number }}</button></div>
		</div>
	{% endif %}
	
	<br>
	<img class="img-responsive" src="{% if question.image %}{{ question.image.url }}{% else %}{% static 'img/question_without_img.png' %}{% endif %}">
	<br>
	<p class="text-center"><strong>{{ question.question }}</strong></p>


	
	{% csrf_token %}
	{% for choice in question.choice_set.all %}
	<div class="pdd-question-answer-block">
			<input class="pdd-ticket-input {% if choice.choice_status %}right-ans{% else %}wrong-ans{% endif %}" id="choice{{ forloop.counter }}" type="radio" name="choice" value="{{ choice.id }}" />
			<label class="pdd-label {% if choice.choice_status %}right-ans{% else %}wrong-ans{% endif %}" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>		
		<br />	
	</div>
	   
	    
	{% endfor %}
	<br><div class="row" >
			<div class="col-xs-6 text-left">
				<input class="btn btn-primary pdd-check-button" type="button" value="Проверить">		
				<input type="submit" class="btn btn-primary pdd-next-button" style="display:none"  value="Дальше">
			</div>
			{% if not nav_tab == 'exam' and question.tip %}
			<div class="col-xs-6 text-center">
				<input id='tip-tog' class="btn btn-warning" type="button" value="Подсказка">
			</div>
			{% endif %}
		</div>
		<div class="row" style="margin-top: 20px;">
			<div class="col-xs-12">
				<div id="tip-content" class="alert alert-warning" role="alert">{{ question.tip|safe }}</div>
			</div>
		</div>	
	</form>

{% endblock content %}