{% extends "base/__base.html" %}

{% block content %}
<br>
<table class="table">
	<thead>
		<tr>
			<th>Тема</th>
			<th>Вопросы</th>
			<th>Результат</th>
		</tr>
	</thead>
	<tbody>
	{% for theme_item in themes %}

		{% if theme_item.first_question_num %}
		<tr>
			<td><a href="{% url 'tickets:question_detail' theme_item.first_question_num %}">{{ theme_item.theme_name }}</a></td>
			<td>{{ theme_item.ticket_number }}</td>
			{% if theme_item.right %}
			<td>
				<div>
					<small>Правильно:  <span class="badge" style="background-color:green; font-size:10px">{{ theme_item.right }}</span>
					</small>
				</div>
				<div>
					<small>Не правильно:  <span class="badge" style="background-color:red; font-size:10px">{{ theme_item.wrong }}</span></small>
				</div>
			</td>
				{% else %}
			<td>Не пройдено</td>	
				{% endif %}	
			
		</tr>
		{% endif %}
	{% endfor %}
	</tbody>
</table>
{% endblock content %}
