{% extends "base/__base.html" %}


{% block content %}
<div class = 'row'>
<br>

	{% for ticket_item in tickets %}
		{% if ticket_item.first_question_num %}

			<div class="col-md-3 col-sm-6 ">
			<div class="bg-warning" >
				<div class="text-center  tick-number-{{ ticket_item.ticket_num }}">
					<a href='{% url "tickets:question_detail"  ticket_item.first_question_num %}'>Билет № {{ ticket_item.tick_number }}</a>					
				</div>
				{% if ticket_item.right %}
				<div>
					<small>Правильно:  <span class="badge" style="background-color:green; font-size:10px">{{ ticket_item.right }}</span>
					</small>
				</div>
				<div>
					<small>Не правильно:  <span class="badge" style="background-color:red; font-size:10px">{{ ticket_item.wrong }}</span></small>
				</div>
				{% endif %}				
			</div>				

			</div>
		{% endif %}
	{% endfor %}

</div>
{% endblock content %}