{% extends "base/__base.html" %}
{% load static %}

{% block content %}


<h2 class="text-primary text-center">Ваш результат:</h2>
<h4 class="text-primary text-center">Вы прошли билет №{{ ticket_number }}</h4>

<p class="text-center" style='bac'>Правильных ответов: <span class="badge" style='background-color:green;'>{{ right_ans }}</span></p>
<p class="text-center">Сделали ошибок: <span class="badge" style='background-color:red;'>{{ wrong_ans }}</span></p>

<p class="text-center"><a class="btn btn-primary" href="{% url 'tickets:ticket_list' %}" role="button">Выбрать другой билет</a></p>

{% for item in data %}

	{% include 'tickets/includes/_report_item.html' %}

{% endfor %}

{% endblock content %}