

.pdd-label{
	font-weight: 400;
	display: inline-table;
}


input[type="radio"]:checked + .pdd-label.right-ans.pdd-pass-question {
    color: green;
   }

input[type="radio"] + .pdd-label.right-ans.pdd-pass-question {
    color: green;
   }

input[type="radio"]:checked + .pdd-label.wrong-ans.pdd-pass-question {
    color: red;
   }

.pdd-pass-question + input[type="radio"]{
  pointer-events: none;
}

.pdd-progress-nav{
	font-size: 2em;
}

.pdd-toggle-pointer-events, .pdd-passed-question{
  pointer-events: none;
}

#tip-content{
  opacity: 0;
  transition: 0.2s;
}
#tip-content.open{
  transition-duration: 2s;
  opacity: 1;
}
